p.thin {
  font-weight: 100;
  margin: 0;
  line-height: 1.2em;
}

p.bold {
  font-weight: 900;
  margin: 0;
  margin-top: -5px;
}

.rel {
  width: 30%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 20px;
  border-style: dotted;
  border-color: white;
  border-width: medium;
}

.ngxp__container {
  width: 150px;
  background: #FFC107;
  color: black;
  padding: 10px;
  text-align: center;
}

#example10positionSelector {
  margin-top: 1em;
}

.ngxp__container[x-placement^="top"] .ngxp__arrow {
  border-color: #FFC107 transparent transparent transparent!important;
}

.ngxp__container[x-placement^="bottom"] .ngxp__arrow {
  border-color: transparent transparent #FFC107 transparent!important;;
}

.ngxp__container[x-placement^="right"] .ngxp__arrow {
  border-color: transparent #FFC107 transparent transparent!important;;
}

.ngxp__container[x-placement^="left"] .ngxp__arrow {
  border-color: transparent transparent transparent #FFC107!important;;
}

.example2__fake-body {
  overflow-x: scroll;
  height: 450px;
  flex: 1;
}

.example2__scroll-box {
  height: 200%;
  display: flex;
  align-content: center;
  align-items: center;
}

#example3 .reference1:hover {
  background: rgba(255, 255, 255, 0.2);
}

#example4 .ngxp__container1 {
  height: 150px;
}

p.thin {
  font-weight: 100;
  margin: 0;
  line-height: 1.2em;
}

p.bold {
  font-weight: 900;
  margin: 0;
  margin-top: -5px;
}

.rel {
  width: 30%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 20px;
  border-style: dotted;
  border-color: white;
  border-width: medium;
}

/*
Spectral by HTML5 UP
html5up.net | @n33co
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Basic */
@-ms-viewport {
  width: device-width;
}

body {
  background: #2e3842;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;å
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

body, input, select, textarea {
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 400;
  letter-spacing: 0.075em;
  line-height: 1.65em;
}

@media screen and (max-width: 1680px) {
  body, input, select, textarea {
    font-size: 13pt;
  }
}

@media screen and (max-width: 1280px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  body, input, select, textarea {
    font-size: 11pt;
    letter-spacing: 0.0375em;
  }
}

a {
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: dotted 1px;
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
}

strong, b {
  color: #fff;
  font-weight: 600;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.225em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.35em;
  line-height: 1.75em;
}

@media screen and (max-width: 736px) {
  h2 {
    font-size: 1.1em;
    line-height: 1.65em;
  }
}

h3 {
  font-size: 1.15em;
  line-height: 1.75em;
}

@media screen and (max-width: 736px) {
  h3 {
    font-size: 1em;
    line-height: 1.65em;
  }
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.8em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

hr {
  border: 0;
  border-bottom: solid 2px #fff;
  margin: 3em 0;
}

hr.major {
  margin: 4.5em 0;
}

blockquote {
  border-left: solid 4px #fff;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: rgba(144, 144, 144, 0.25);
  border-radius: 3px;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  letter-spacing: 0;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.8em;
  margin: 0 0 2em 0;
  text-align: left;
}

pre code {
  display: block;
  line-height: 1.75em;
  padding: 1em 1.5em;
  overflow-x: auto;
}

header p {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: -0.25em;
}

header h3 + p {
  font-size: 1.1em;
}

header h4 + p, header h5 + p, header h6 + p {
  font-size: 0.9em;
}

header.major {
  margin: 0 0 3.5em 0;
}

header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
  border-bottom: solid 2px #fff;
  display: inline-block;
  padding-bottom: 1em;
  position: relative;
}

header.major h2:after, header.major h3:after, header.major h4:after, header.major h5:after, header.major h6:after {
  content: '';
  display: block;
  height: 1px;
}

header.major p {
  color: #fff;
  top: 0;
}

@media screen and (max-width: 736px) {
  header.major {
    margin: 0 0 2em 0;
  }
}

@media screen and (max-width: 980px) {
  header br {
    display: none;
  }
}

/* Form */
form {
  margin: 0 0 2em 0;
}

label {
  color: #fff;
  display: block;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0 0 1em 0;
}



@media screen and (max-width: 736px) {
  .wrapper.style1 .features li {
    border-top-color: rgba(0, 0, 0, 0.125);
  }
}

.wrapper.style2 {
  background-color: #2e3842;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(144, 144, 144, 0.25);
  border-radius: 3px;
  border: none;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

.formerize-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}
/* Spotlight */
.spotlight {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.spotlight:nth-child(2n) {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.spotlight:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.075);
}

.spotlight:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.15);
}

.spotlight:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.225);
}

.spotlight:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.3);
}

.spotlight:nth-child(5) {
  background-color: rgba(0, 0, 0, 0.375);
}

.spotlight:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.45);
}

.spotlight:nth-child(7) {
  background-color: rgba(0, 0, 0, 0.525);
}

.spotlight:nth-child(8) {
  background-color: rgba(0, 0, 0, 0.6);
}

.spotlight:nth-child(9) {
  background-color: rgba(0, 0, 0, 0.675);
}

.spotlight:nth-child(10) {
  background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1280px) {
  .spotlight .image {
    width: 45%;
  }

  .spotlight .content {
    width: 55%;
  }
}

@media screen and (max-width: 980px) {
  .spotlight {
    display: block;
  }

  .spotlight br {
    display: none;
  }

  .spotlight .image, .spotlight .example {
    width: 100%;
  }

  .spotlight .content {
    padding: 4em 3em 2em 3em;
    max-width: none;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  .spotlight .content {
    padding: 3em 2em 1em 2em;
  }
}

/* Wrapper */
.wrapper {
  padding: 6em 0 4em 0;
}

.wrapper > .inner {
  width: 60em;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .wrapper > .inner {
    width: 90%;
  }
}

@media screen and (max-width: 980px) {
  .wrapper > .inner {
    width: 100%;
  }
}

.wrapper.alt {
  padding: 0;
}

.wrapper.style2 {
  background-color: #2e3842;
}

/* Spotlight */
.spotlight {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.spotlight .image {
  -moz-order: 1;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  border-radius: 0;
  width: 40%;
}

.spotlight .image img {
  border-radius: 0;
  width: 100%;
}

.spotlight .example {
  -moz-order: 1;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  position: relative;
  min-height: 450px;
  width: 40%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-content: center;
  align-items: center;
}

.spotlight .content {
  padding: 2em 4em 0.1em 4em;
  -moz-order: 2;
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  max-width: 48em;
  width: 60%;
}

.spotlight:nth-child(2n) {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.spotlight:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.075);
}

.spotlight:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.15);
}

.spotlight:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.225);
}

.spotlight:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.3);
}

.spotlight:nth-child(5) {
  background-color: rgba(0, 0, 0, 0.375);
}

.spotlight:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.45);
}

.spotlight:nth-child(7) {
  background-color: rgba(0, 0, 0, 0.525);
}

.spotlight:nth-child(8) {
  background-color: rgba(0, 0, 0, 0.6);
}

.spotlight:nth-child(9) {
  background-color: rgba(0, 0, 0, 0.675);
}

.spotlight:nth-child(10) {
  background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1280px) {
  .spotlight .image {
    width: 45%;
  }

  .spotlight .content {
    width: 55%;
  }
}

@media screen and (max-width: 980px) {
  .spotlight {
    display: block;
  }

  .spotlight br {
    display: none;
  }

  .spotlight .image, .spotlight .example {
    width: 100%;
  }

  .spotlight .content {
    padding: 4em 3em 2em 3em;
    max-width: none;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  .spotlight .content {
    padding: 3em 2em 1em 2em;
  }
}

@media screen and (max-width: 980px) {
  .wrapper {
    padding: 4em 3em 2em 3em;
  }
}

@media screen and (max-width: 736px) {
  .wrapper {
    padding: 3em 2em 1em 2em;
  }
}