<section id="two" class="wrapper alt style2">
  <section class="spotlight">
    <div class="example">
      <div #popper1
           [popper]="popper1Content"
           [popperTrigger]="'click'"
           [popperTarget]="popper1"
           [popperShowOnStart]="true"
           [popperPlacement]="example1select" class="rel" id="example10reference1">
        <p class="bold">Hey!</p>
        <p class="thin">Choose where to put your popper!</p>
        <select [(ngModel)]="example1select" (change)="changeExample1(popper1Content)"
                id="example10positionSelector">
          <option value="top">Top</option>
          <option value="right">Right</option>
          <option value="bottom">Bottom</option>
          <option value="left">Left</option>
        </select>
      </div>
      <popper-content #popper1Content>
        <p class="bold" >Popper on <b id="example10currentPosition" class="currentPosition">{{example1select}}</b></p>
      </popper-content>
    </div>

    <div class="content">
      <a class="anchor-wrapper" href="#example10"><h2 id="" tabindex="0"><a name="example10"></a>Popper on your side!<i
          class="fa fa-link link-anchor"></i></h2></a>
      <p id="example10Title">
        What are you waiting for? Select a popper from that dropdown.<br>
        Placing poppers around elements is just that easy!
      </p>

      <div id="example10code">

      </div>

    </div>

  </section>
  <section class="spotlight">
    <div class="example">
      <div class="example2__fake-body">
        <div class="example2__scroll-box">
          <div class="rel" id="example2reference1"
               #popper2
               [popper]="popper2Content"
               [popperShowOnStart]="true">
            <p class="bold">Scroll me</p>
            <p class="thin">up and down</p>
          </div>
          <popper-content
              #popper2Content id="example2popper1">
            <p class="bold">I follow it</p>
            <p class="thin">staying between boundaries</p>
          </popper-content>

        </div>
      </div>

    </div>
    <div class="content">
      <h2 id="example2" tabindex="0">Popper on scrolling container</h2>
      <p>
        In this example we have a relative div which contains a div with <code>overflow: scroll</code>.
        <br> Inside it, there are our popper and reference elements.
      </p>


    </div>
  </section>
  <section class="spotlight">
    <div id="example3Container" class="example">
      <div
          #popper3
          [popper]="popper3Content"
          [popperShowOnStart]="true"
          [popperPlacement]="'right'"
          [popperBoundaries]="'#example3Container'"
          [popperModifiers]="example3modifiers"
          [ng2-draggable]
          (mouseover)="popper3Content.update()" class="rel" id="example3reference1">
        <p class="bold">Drag me</p>
        <p class="thin">on the edges</p>
      </div>
    </div>
    <popper-content #popper3Content id="example3popper1">
      <p class="bold">Flipping popper</p>
      <p class="thin">which never flips to right</p>
    </popper-content>
    <div class="content">
      <h2 id="example3" tabindex="0">Custom flip behavior</h2>
      <p>
        Try dragging the reference element on the left side, its popper will move on its bottom edge. Then,
        try to move the reference element on the bottom left corner, it will move on its top edge.
      </p>


    </div>
  </section>
  <section class="spotlight">
    <div class="example">
      <div class="rel" id="example4reference1"
           #popper4
           [popper]="popper4Content"
           [popperShowOnStart]="true"
           [popperPlacement]="'left-start'">
        <p class="bold">Reference</p>
      </div>
      <popper-content #popper4Content>
        <div style="height: 150px" id="example4popper1">
          <p class="bold">Shifted popper</p>
          <p class="thin">on start</p>
        </div>
      </popper-content>
    </div>
    <div class="content">
      <h2 id="example5" tabindex="0">Shifted poppers</h2>
      <p>
        Shift your poppers on start or end of its reference element side.
      </p>
    </div>
  </section>
  <section class="spotlight">
    <div class="example">
      <div class="rel" id="example5reference1"
           #popper5
           [popper]="popper5Content"
           [popperShowOnStart]="true"
           [popperPlacement]="'bottom'">
        <p class="bold">Pop</p>
        <p class="thin">on the bottom</p>
      </div>
      <popper-content #popper5Content>
        <div id="example5popper1">
          <p class="bold">Popper on bottom</p>
          <p class="thin">Flips when hits viewport</p>
        </div>
      </popper-content>

    </div>
    <div class="content">
      <h2 id="example4" tabindex="0">Viewport boundaries</h2>
      <p>
        By default, poppers use as boundaries the page viewport.
        <br> Scroll the page to see the popper flip when hits the page viewport margins.
      </p>
    </div>
  </section>
</section>
